# Игнорируем виртуальное окружение
.venv/
venv/
env/

# Игнорируем файлы настроек IDE
.vscode/
.idea/

# Игнорируем файлы с переменными окружения
.env

# Игнорируем файлы кэша Python
__pycache__/
*.py[cod]
*$py.class

# Логи
*.log

# Файлы базы данных (если будут)
*.sqlite3

# Другие временные файлы
*.swp
*.swo
.DS_Store

Найти еще